{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-essential",
        "plugin:@typescript-eslint/recommended"
    ],
    "overrides": [],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "vue",
        "import",
        "@typescript-eslint"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "arrow-body-style": "off",
        "camelcase": "off",
        "class-methods-use-this": "off",
        "max-len": "off",
        "no-await-in-loop": "off",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2
            }
        ],
        "no-restricted-syntax": "off",
        // TypeScript
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        // these eslint rules can report incorrect errors in TypeScript files
        "semi": "off",
        "no-shadow": "off",
        "@typescript-eslint/semi": "error",
        "@typescript-eslint/no-shadow": "error",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        // Imports
        "import/no-cycle": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "order": "asc"
                },
                "groups": [
                    "builtin",
                    "external",
                    "internal"
                ],
                "pathGroups": [
                    // Order all @/src/**
                    // just before all local/relative imports
                    {
                        "pattern": "@/src/**",
                        "group": "internal",
                        "position": "before"
                    },
                    // Order all remaining alias
                    // just before all local/relative imports
                    {
                        "pattern": "@/**",
                        "group": "internal",
                        "position": "before"
                    }
                ],
                "pathGroupsExcludedImportTypes": [
                    "builtin"
                ],
                "newlines-between": "always"
            }
        ],
        // Also order the individual import members
        // from each file declaration
        "sort-imports": [
            "error",
            {
                "ignoreDeclarationSort": true
            }
        ]
    }
}
